/* Position arrows properly */
.slick-prev, 
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 50px;
  height: 50px;
background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Adjust arrow icons  */
.slick-prev:before,
.slick-next:before {
  font-size: 28px;
  color: black;
  opacity: 1;
} 

 /* Push arrows slightly outside the slider container */
.slick-prev {
  left: -5px;
} 

 .slick-next {
  right: -5px;
} 

 /* Optional hover effect */
.slick-prev:hover,
.slick-next:hover {
  background: #f2f2f2;
}


.slick-slide > div {
  margin: 0 10px;
}
